.footer {
  padding: 48px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafb;
}
.footer .copyrights {
  color: #667085;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.social-icons ul {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style-type: none;
}
